
body {
    margin: 0;
    padding: 20px;
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  header {
    padding: 20px;
    text-align: right;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
  }
  
  h1 {
    text-align: center;
  }

  .flight {
    margin-bottom: 20px;
    padding: 20px;
    /* border: 2px solid rgba(0, 0, 255, 0.5); */
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    overflow: hidden;
  }

  .flight .flight-details {
    display: inline-block;
    width: 70%;
  }

  .flight .flight-details span {
    display: block;
    font-weight: bold;
  }

  .flight .buy-button {
    display: inline-block;
    width: 20%;
    text-align: center;
  }

  .buy-button button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
